# Quarto outputs
/.quarto/
/_output/
/.jupyter_cache/
/paper/index.tex

# Local state
.DS_Store
__pycache__/

# LaTeX auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
*.nav
*.snm
*.vrb
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.synctex.gz
*.pdfsync
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

**/*.quarto_ipynb
